<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ServiceStackExamples" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=ServiceStackExamples;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>